<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>Reports#report_by_dates</h1>
<p>Find me in app/views/reports/report_by_dates.html.erb</p>
<h3><%= @data %></h3>
<p><%= @groups %></p>
<p><%= @days %></p>




<div>
<%= link_to "Назад до генератора звітів", reports_index_path %>
</div>

<hr>
<hr>
  <div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= raw @dates %>,
      datasets: [{
        label: 'Сума',
        data: <%= @rates %>,
         fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<hr>

 